@import '$lib/styles/a4.css';

@counter-style nepali-consonants {
	system: alphabetic;
	symbols: '\915''\916''\917''\918''\919''\91A''\91B''\91C''\91D''\91E''\91F''\920''\921''\922''\923''\924''\925''\926''\927''\928''\92A''\92B''\92C''\92D''\92E''\92F''\930''\932''\935''\936''\937''\938''\939';
	/* symbols: 'क' 'ख' 'ग' 'घ' 'ङ' 'च' 'छ' 'ज' 'झ' 'ञ' 'ट' 'ठ' 'ड' 'ढ' 'ण' 'त' 'थ' 'द' 'ध' 'न' 'प' 'फ' 'ब' 'भ' 'म' 'य' 'र' 'ल' 'व' 'श' 'ष' 'स' 'ह'; */
}

@counter-style nepali-vowels {
	system: alphabetic;
	symbols: '\905''\906''\907''\908''\909''\90A''\90B''\90C''\90D''\90E''\90F''\910''\911''\912''\913''\914';
}

li::marker {
	font-weight: 600;
}
